.table-of-contents {
	background-color: #F0F0FF;
	
}

.table-of-contents-on-side {
	float: right;
	display: inline-block;
	margin-top: 0;
	margin-left: 20px;
	padding: 10px;
	max-width: 250px;
	max-width: 45%;
}

.table-of-contents-inline {
	display: inline-block;
	margin-left: auto;
	margin-right: 0;
	width: calc(100% - 60px);
	padding: 10px 30px 10px 30px;
}


ul {
	margin-block-start: 0px;
	margin-block-end: 0px;
	padding-inline-start: 0px;
	padding-left: 20px;
}
